<app-menu></app-menu>
<div class="component">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span>&nbsp;<a routerLink="/actor-list">Return to List</a></span>
    </section>
    <main class="single">
        <table *ngIf='actor' class="table table-sm table-striped">
            <tr>
                <td>ID</td>
                <td>{{actor.id}}</td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>{{actor.firstName}}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{actor.lastName}}</td>
            <tr>
                <td>Gender:</td>
                <td>{{actor.gender}}</td>
            </tr>
            <tr>
                <td>Birth Date:</td>
                <td>{{actor.birthDate}}</td>
            </tr>
        </table>
    </main>
    <span>
        <span><button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
    </span>
</div>